.blog-detail-section{
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}.close-btn-detail{
    position: fixed;
    top: 15px;
    right: 15px;
    transform: rotate(45deg);
    font-size: 30px;
    color: white;
    font-weight: bold;
}.close-btn-detail:hover{
    cursor: pointer;
}
.blog-detail{
    background-color: #ffffff;
    border-radius: 5px;
    width: fit-content;
    height: 550px;
    margin-bottom: 15px;
    font-family: sans-serif;
    display: flex;
}

/* Content */
.blog-detail-content-wrappper{
    height: 550px;
    width: 470px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.blog-detail-content{
    max-width: 470px;
    max-height: 550px;
    object-fit: contain;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

/* Top detail */
.blog-detail-top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.blog-detail-top-pfp{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.blog-detail-top-username{
    font-size: 14px;
    color: #262626;
    font-weight: bold;
}
/* Bottom */
.blog-detail-bottom{
    padding: 10px;
    width: 450px;
}
.blog-detail-bottom-wrapper{
    margin-top: 10px;
    border-top: 1px solid #dbdbdb;
    padding-top: 10px;
}
.blog-detail-bottom-buttons{
    margin-bottom: 10px;
    display: flex;
}
.blog-detail-like, .blog-detail-unlike{
    height: 20px;
    border: none;
    background-color: inherit;
}.blog-detail-like-img, .blog-detail-unlike-img{
    height: 20px;
    border: none;
}
.blog-detail-comment{
    height: 20px;
    width: 20px;
    object-fit: cover;
    margin-left: 10px;
}
.blog-detail-comment:hover, .blog-detail-like-img:hover, .blog-detail-unlike-img:hover{
    cursor: pointer;
}
.form-hide{
    display: none;
}

.blog-detail-bottom-likes{
    font-size: 14px;
    color: #262626;
    font-weight: bold;
    margin-bottom: 10px;
}.blog-detail-bottom-likes:hover{
    cursor: pointer;
}
.blog-detail-bottom-comment-section{
    height: 350px;
    overflow-y: scroll;
}
.blog-detail-bottom-desc-comment{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.blog-detail-bottom-comment-count{
    font-size: 14px;
    color: #8e8e8e;
    margin-bottom: 10px;
}
.blog-detail-bottom-desc-comment-username{
    font-size: 14px;
    color: #262626;
    font-weight: bold;
}
.blog-detail-bottom-desc-comment-content{
    font-size: 14px;
    color: black;
    display: inline;
    overflow-wrap: break-word;
    width: 380px;
}

.detail-bottom-date{
    font-size: 14px;
    color: #8e8e8e;
    margin-bottom: 10px;
}
.detail-bottom-comment-form{
    display: flex;
    justify-content: space-between;
}
.detail-bottom-comment-form input{
    width: 375px;
    border: none;
    outline: none;
    background-color: inherit;
    height: 20px;
    font-size: 14px
}
.detail-bottom-comment-submit{
    color: #0095f6;
    font-size: 12px;
    font-weight: bold;
    background-color: #fafafa;
    border: none;
}.detail-bottom-comment-submit:hover{
    cursor: pointer;
}
#id_detail, #id_profile{
    display: none;
}.detail-bottom-comment-form  label, .detail-bottom-comment-form  ul, .detail-bottom-comment-form  select{
    display: none;
}
.blog-detail-like-popup-wrapper{
    background-color: rgb(0, 0, 0, 0.7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    font-family: sans-serif;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.blog-detail-like-popup{
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}
.blog-detail-like-popup-title{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 16px;
    color: #262626;
    font-weight: bold;
    text-align: center;
}
.blog-detail-like-popup-profile{
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.blog-detail-like-popup-pfp{
    height: 44px;
    width: 44px;
    object-fit: cover;
    border-radius: 50%;
}
.blog-detail-like-popup-username{
    font-size: 14px;
    color: #262626;
    margin-left: 10px;
    font-weight: bold;
}
.blog-detail-like-popup-close{
    position: fixed;
    top: 15px;
    right: 15px;
    transform: rotate(45deg);
    font-size: 30px;
    color: white;
    font-weight: bold;
}.blog-detail-like-popup-close:hover{
    cursor: pointer;
}