.blog-posts-content-section{
    margin-top: 80px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.blog-posts-section{
    
}
/* Post */
.blog-post{
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 15px;
}
/* Top Post */
.blog-post-top{
    display: flex;
    align-items: center;
    padding: 10px;
}
.blog-post-top-pfp{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 10px;
}
.blog-post-top-username{
    font-size: 14px;
    color: #262626;
    font-weight: bold;
}
/* Content */
.blog-post-content{
    width: 470px;
    object-fit: contain;
}
/* Bottom */
.blog-post-bottom{
    padding: 10px;
    width: 450px
}
.blog-post-bottom-buttons{
    margin-bottom: 10px;
    display: flex;
}
.blog-post-like, .blog-post-unlike{
    height: 20px;
    border: none;
    background-color: inherit;
}.blog-post-like-img, .blog-post-unlike-img{
    height: 20px;
    border: none;
}
.blog-post-comment{
    height: 20px;
    width: 20px;
    object-fit: contain;
    margin-left: 10px;
}
.blog-post-comment:hover, .blog-post-like-img:hover, .blog-post-unlike-img:hover{
    cursor: pointer;
}
.form-hide{
    display: block;
}

.blog-post-bottom-likes{
    font-size: 14px;
    color: #262626;
    font-weight: bold;
    margin-bottom: 10px;
}
.blog-post-bottom-desc-comment{
    display: flex;
    margin-bottom: 10px;
}
.blog-post-bottom-comment-count{
    font-size: 14px;
    color: #8e8e8e;
    margin-bottom: 10px;
}
.blog-post-bottom-desc-comment-username{
    font-size: 14px;
    color: #262626;
    font-weight: bold;
}
.blog-post-bottom-desc-comment-content{
    font-size: 14px;
    color: black;
    display: inline;
}
.post-bottom-date{
    font-size: 14px;
    color: #8e8e8e;
    margin-bottom: 10px;
}
.post-bottom-comment-form{
    display: flex;
    justify-content: space-between;
}
.post-bottom-comment-form input{
    width: 375px;
    border: none;
    outline: none;
    background-color: inherit;
    height: 20px;
    font-size: 14px
}
.post-bottom-comment-submit{
    color: #0095f6;
    font-size: 12px;
    font-weight: bold;
    background-color: #fafafa;
    border: none;
}.post-bottom-comment-submit:hover{
    cursor: pointer;
}
#id_post, #id_profile{
    display: none;
}.post-bottom-comment-form  label, .post-bottom-comment-form  ul{
    display: none;
}


