{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Instagram • {% block title %}{% endblock title %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'blog/reset.css' %}">
    <link rel="stylesheet" href="{% static 'blog/blog_header_base.css' %}">
    {% block css %}
    {% endblock css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header class="blog-header">
        <div>
            <a href="{% url 'home' %}">
                <img class="blog-header-main-logo" src="{% static 'blog/logos/ig-text-logo.png' %}" alt="logo">
            </a>
        </div>
        <input type="text" class="blog-header-searchbar" placeholder="Search for profiles">
        <div class="blog-header-search-popup">
            <div class="blog-header-search-popup-top">
                <h1 class="blog-header-search-popup-top-title">Results</h1>
                <h1 class="blog-header-search-popup-top-close">+</h1>
            </div>
            <div class="blog-header-search-popup-profiles">
                <div class="blog-header-search-popup-profile">
                    <img class="blog-header-search-popup-profile-pfp" src="{{ request.user.profile.pfp.url }}">
                    <h1 class="blog-header-search-popup-profile-username">{{ request.user.username }}</h1>
                </div>
            </div>
        </div>

        <div class="blog-header-buttons">
            {% if home %}
                <img class="blog-header-logo home-fill" src="{% static 'blog/logos/logo-home-fill.png' %}">
                <img class="blog-header-logo home-unfill" src="{% static 'blog/logos/logo-home.png' %}"
                style="display: none;">
            {% else %}
                <a href="{% url 'home' %}" class="home-unfill">
                    <img class="blog-header-logo" src="{% static 'blog/logos/logo-home.png' %}" alt="home">
                </a>
            {% endif %}
            {% if direct %}
                <a href="{% url 'direct-index' %}">
                    <img class="blog-header-logo direct-fill" 
                    src="{% static 'blog/logos/logo-direct-fill.png' %}">
                </a>
                <img class="blog-header-logo direct-unfill" src="{% static 'blog/logos/logo-direct.png' %}" 
                style="display: none;">
            {% else %}
                <a href="{% url 'direct-index' %}">
                    <img class="blog-header-logo" src="{% static 'blog/logos/logo-direct.png' %}">
                </a>
            {% endif %}
            {% if home %}
                <a href="" class="header-upload-button">
                    <img class="blog-header-logo" src="{% static 'blog/logos/logo-upload.png' %}" alt="upload">
                </a>
                <img class="blog-header-logo upload-fill" src="{% static 'blog/logos/logo-upload-fill.png' %}">
            {% else %}
                <a href="{% url 'home' %}">
                    <img class="blog-header-logo" src="{% static 'blog/logos/logo-upload.png' %}" alt="upload">
                </a>
            {% endif %}
            {% if discover %}
                <a href="{% url 'discover' %}">
                    <img class="blog-header-logo discover-fill" 
                    src="{% static 'blog/logos/logo-discover-fill.png' %}">
                </a>
                <img class="blog-header-logo discover-unfill" src="{% static 'blog/logos/logo-discover.png' %}" 
                style="display: none;">
            {% else %}
                <a href="{% url 'discover' %}">
                    <img class="blog-header-logo" src="{% static 'blog/logos/logo-discover.png' %}">
                </a>
            {% endif %}
            <img class="blog-header-logo notif-unfill" src="{% static 'blog/logos/logo-notif.png' %}">
            <img class="blog-header-logo notif-fill" src="{% static 'blog/logos/logo-notif-fill.png' %}" style="display: none;">
            <a href="{% url 'profile' request.user.pk %}">
                <img class="blog-header-pfp" src="{{ request.user.profile.pfp.url }}" alt="profile">
            </a>
        </div>
        
        {{ home|json_script:"home" }}
        {{ discover|json_script:"discover" }}
        {{ direct|json_script:"direct" }}

    </header>
    
    <script>
        $('.blog-header-search-popup-top-close').on('click', function(){
            $('.blog-header-search-popup').css('display', 'none')
            $('.blog-header-searchbar').val('')
        })
        $.getJSON('{% url "profile-query" %}', function(data){
            $('.blog-header-searchbar').keyup(function(){
                var elegibleProfiles = []
                let inputVal = $('.blog-header-searchbar').val()
                // close popup if input == ''
                if(inputVal == ''){
                    $('.blog-header-search-popup').css('display', 'none')
                }else{
                    $('.blog-header-search-popup').css('display', 'block')
                }
                // check val is in usernames
                for(let i = 0; i < data.length; i++){
                    if(data[i].username.includes(inputVal)){
                        elegibleProfiles.push(data[i])
                    }
                }
                // add elegible profiles to the popup
                $('.blog-header-search-popup-profiles').empty()
                for(let i = 0; i < elegibleProfiles.length; i++){
                    pk = elegibleProfiles[i].pk
                    let link = document.createElement('a')
                    link.href = window.location.origin + '/users/profile/' + pk
                    let profileWrapper = document.createElement('div')
                    profileWrapper.classList = "blog-header-search-popup-profile"
                    let pfp = document.createElement('img')
                    pfp.classList = 'blog-header-search-popup-profile-pfp'
                    pfp.src = elegibleProfiles[i].pfp_url
                    let username = document.createElement('h1')
                    username.classList = 'blog-header-search-popup-profile-username'
                    username.innerHTML = elegibleProfiles[i].username
                    profileWrapper.appendChild(pfp)
                    profileWrapper.appendChild(username)
                    link.appendChild(profileWrapper)
                    $('.blog-header-search-popup-profiles').append(link)
                }
            })
        })
    </script>

    

    <!--  Notification popup  -->
    <div class="notif-popup">
        <h1 class="notif-title">Notifications</h1>
        <div class="notif-content">

        </div>
    </div>
    <script>
        const home = JSON.parse(document.getElementById('home').textContent);
        const discover = JSON.parse(document.getElementById('discover').textContent);
        const direct = JSON.parse(document.getElementById('direct').textContent);
        let notifPopup = $('.notif-popup')
        let notifBtn = $('.notif-unfill')
        let notifFillBtn = $('.notif-fill')
        notifBtn.on('click', function(){
            notifPopup.css('display', 'block')
            notifFillBtn.css('display', 'flex')
            notifBtn.css('display', 'none')
            // change btn focus
            if(home==true){
                $('.home-fill').css('display', 'none')
                $('.home-unfill').css('display', 'flex')
            }else if(discover==true){
                $('.discover-fill').css('display', 'none')
                $('.discover-unfill').css('display', 'flex')
            }else if(direct==true){
                $('.direct-fill').css('display', 'none')
                $('.direct-unfill').css('display', 'flex')
            }   
        })
        notifFillBtn.on('click', function(){
            notifPopup.css('display', 'none')
            notifFillBtn.css('display', 'none')
            notifBtn.css('display', 'flex')
            // change btn focus
            if(home==true){
                $('.home-fill').css('display', 'flex')
                $('.home-unfill').css('display', 'none')
            }else if(discover==true){
                $('.discover-fill').css('display', 'flex')
                $('.discover-unfill').css('display', 'none')
            }else if(direct==true){
                $('.direct-fill').css('display', 'flex')
                $('.direct-unfill').css('display', 'none')
            }   
        })
        $('.blog-header-search-popup-top-close').on('click', function(){
            $('.blog-header-search-popup').css('display', 'none')
            $('.blog-header-searchbar').val('')
        })
        // query function 
        var notificationsQuery = function(){
            $.getJSON('{% url "notification-query" request.user.profile.pk %}', function(data){
                document.querySelector('.notif-content').innerHTML = ''
                for(let i = 0; i < data.length; i++){
                    let pk = data[i].pk
                    let post_pk = data[i].post_pk
                    console.log(post_pk)
                    let link = document.createElement('a')
                    link.href = window.location.origin + '/users/profile/' + pk
                    let postLink = document.createElement('a')
                    postLink.href = window.location.origin + '/post/' + post_pk
                    let notificationWrapper = document.createElement('div')
                    notificationWrapper.classList = "notification"
                    let pfp = document.createElement('img')
                    pfp.classList = 'notification-pic'
                    pfp.src = data[i].pfp_url
                    let username = document.createElement('p')
                    username.classList = 'notification-username'
                    username.innerHTML = data[i].username
                    let action = document.createElement('p')
                    action.classList = 'notification-action'
                    action.innerHTML = data[i].action
                    if(post_pk){
                        let post = document.createElement('p')
                        post.classList = 'notification-username'
                        post.innerHTML = 'post'
                        postLink.appendChild(post)
                    }
                    link.append(pfp)
                    link.append(username)
                    notificationWrapper.append(link)
                    notificationWrapper.append(action)
                    notificationWrapper.append(postLink)
                    document.querySelector('.notif-content').insertBefore(
                        notificationWrapper,
                        document.querySelector('.notif-content').firstChild
                    )
                }
            })
        }
        // query for notifications
        notificationsQuery()
        setInterval(function(){
            notificationsQuery()
        }, 10000)
    </script>
    
    
    {% block content %}
    {% endblock content %}
   
    {% block homeside %}
    {% endblock homeside %}

    {% block form %}
    {% endblock form %}

    {% block popup %}
    {% endblock popup %}

    {% block ajax %}
    {% endblock ajax %}
</body>
</html>