{% extends 'blog/blog_header_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/blog_home.css' %}">
    <link rel="stylesheet" href="{% static 'blog/blog_home_create_form.css' %}">
    <link rel="stylesheet" href="{% static 'blog/blog_home_homeside.css' %}">
{% endblock css %}

{% block content %}
    <!-- Post template -->
    <div class="blog-posts-content-section">
        <div class="blog-posts-section">
            {% for post_list in post_utils_list %}
                <!--  0-posts_obj, 1-likeform, 2-like obj, 3-commentform, 4-comment obj, 5-commetfirst -->
                <div class="blog-post">
                    <div class="blog-post-top">
                        <a href="{% url 'profile' post_list.0.profile.user.pk %}">
                            <img class="blog-post-top-pfp" src="{{ post_list.0.profile.pfp.url }}" alt="pfp">
                        </a>
                        <a href="{% url 'profile' post_list.0.profile.user.pk %}">
                            <h1 class="blog-post-top-username">{{ post_list.0.profile.user.username }}</h1>
                        </a>
                    </div>
                    <img class="blog-post-content" src="{{ post_list.0.image.url }}" alt="post content">
                    <div class="blog-post-bottom">
                        <div class="blog-post-bottom-buttons">
                            <button class="blog-post-like"> like</button>
                            <button class="blog-post-comment">comment</button>
                        </div>
                        <h1 class="blog-post-bottom-likes">123 likes</h1>
                        <div class="blog-post-bottom-desc-comment">
                            <h1 class="blog-post-bottom-desc-comment-username">{{ post_list.0.profile.user.username }}</h1>
                            <p class="blog-post-bottom-desc-comment-content">{{ post_list.0.desc }}</p>
                        </div>
                        <p class="blog-post-bottom-comment-count">see all todos commens</p>
                        <div class="blog-post-bottom-desc-comment">
                            <h1 class="blog-post-bottom-desc-comment-username">nome</h1>
                            <p class="blog-post-bottom-desc-comment-content">desc</p>
                        </div>
                        <h1 class="post-bottom-date">{{ post_list.0.date }}</h1>
                        <p class="form-placeholdr">form placeholder</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- end Post template -->
{% endblock content %}

{% block form %}
    <div class="home-create-form-background">
        <div class="home-create-form">
            <h1 class="home-create-form-title">Create a post</h1>
            <img class="home-create-form-image" src="{% static 'blog/logos/logo-upload2.png' %}" alt="upload">
            <h1 class="home-create-form-button-fake">Select an image</h1>
            {{ form.image }}
            {{ form.desc }}
            <button class="home-create-form-submit">Post</button>
        </div>
        <p class="home-create-close-button">+</p>
    </div>

    <script>
        const uploadButton = document.querySelector('.header-upload-button')
        uploadButton.addEventListener('click', function(e){
            e.preventDefault()   // pra n dar reload na pag
            let popUpBackground = document.querySelector('.home-create-form-background')
            popUpBackground.style.display = 'flex'
        })
        
        const uploadCloseButton = document.querySelector('.home-create-close-button')
        uploadCloseButton.addEventListener('click', function(){
            let popUpBackground = document.querySelector('.home-create-form-background')
            popUpBackground.style.display = 'none'
        })
    </script>
{% endblock form %}

<!--
    Aqui fica as sugestões de followers
-->
{% block homeside %}
    <div class="blog-homeside">
        <div class="blog-homeside-current-profile">
            <a href="{% url 'profile' request.user.pk %}">
                <img class="blog-homeside-current-profile-pfp" src="{{ request.user.profile.pfp.url }}" alt="pfp">
            </a>
            <div>
                <a href="{% url 'profile' request.user.pk %}" class="blog-homeside-current-profile-username">{{ request.user.username }}</a>
                <p class="blog-homeside-current-profile-name">{{ request.user.profile.name }}</p>
            </div>
            <a href="{% url 'logout' %}" class="blog-homeside-current-profile-logout">Logout</a>
        </div>
        <p class="blog-homeside-title">Suggestions for you... </p>
        <div class="blog-homeside-suggestions">
            {% for p_f_list in suggestions_list %}
            <!-- 0- profile e 1- form -->
                <div class="blog-homeside-suggestions-profile">
                <div style="display: flex;justify-content: left;align-items: center;">
                    <a href="{% url 'profile' p_f_list.0.user.pk %}">
                        <img class="blog-homeside-suggestions-profile-pfp" src="{{ p_f_list.0.pfp.url }}" alt="pfp">
                    </a>
                    <div>
                        <a href="{% url 'profile' p_f_list.0.user.pk %}" class="blog-homeside-suggestions-profile-username">{{ p_f_list.0.user.username }}</a>
                        <p class="blog-homeside-suggestions-profile-name">{{ p_f_list.0.name }}</p>
                    </div>
                </div>    
                    <form class="blog-homeside-follow-form" method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <div class="form-hide">
                            {{ p_f_list.1 }}
                        </div>  
                        <button class="blog-homeside-suggestions-profile-follow" type="submit">Follow</button>
                    </form>
                    <form class="blog-homeside-unfollow-form" method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <div class="form-hide">
                            {{ p_f_list.1 }}
                        </div>  
                        <button class="blog-homeside-suggestions-profile-unfollow" type="submit">Unfollow</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock homeside %}

{% block ajax %}
    <script>
        $('.blog-homeside-follow-form').each(function(){
            $(this).on('submit', function(e){
                console.log('houve click')
                // pelo visto essa parte do 'e' é pra n da reset na pag
                e.preventDefault();
                // serializar pra jogar pro url do app ajax
                var serializeData = $(this).serialize();
                $.ajax({
                    type:'POST',
                    url: '{% url "profile-follow" %}',
                    data: serializeData,
                    context: $(this),
                    success: function(response){
                        let followForm = $(this)
                        let unfollowForm = $(this).parent().find('.blog-homeside-unfollow-form')
                        followForm.css({ display: "none" })
                        unfollowForm.css({ display: "block" })
                    },
                    error: function(response){
                        console.log('erro')
                    }
                });
            })
        })
    </script>
    <script>
        $('.blog-homeside-unfollow-form').each(function(){
            $(this).on('submit', function(e){
                console.log('houve click')
                // pelo visto essa parte do 'e' é pra n da reset na pag
                e.preventDefault();
                // serializar pra jogar pro url do app ajax
                var serializeData = $(this).serialize();
                $.ajax({
                    type:'POST',
                    url: '{% url "profile-unfollow" %}',
                    data: serializeData,
                    context: $(this),
                    success: function(response){
                        let followForm = $(this).parent().find('.blog-homeside-follow-form')
                        let unfollowForm = $(this)
                        followForm.css({ display: "block" })
                        unfollowForm.css({ display: "none" })
                    },
                    error: function(response){
                        console.log('erro')
                    }
                });
            })
        })
    </script>
{% endblock ajax %}