{% extends 'blog/blog_header_base.html' %}
{% load static %}



{% block title %}
    Home
{% endblock title %}



{% block css %}
    <link rel="stylesheet" href="{% static 'blog/blog_home.css' %}">
    <link rel="stylesheet" href="{% static 'blog/blog_home_create_form.css' %}">
    <link rel="stylesheet" href="{% static 'blog/blog_home_homeside.css' %}">
{% endblock css %}



{% block content %}
    <!-- Post template wrappers here there will be the post, the detail post and the post popups -->
    <div class="blog-posts-content-section">
        <div class="blog-posts-section">
            {% for post_dict in post_utils_list %}
            <!--  {  'post_obj': post_obj, 'like_form': like_form, 'like_obj': like_obj, 'is_liked': True, 
                     'comment_form': comment_form, 'comment_obj': comment_obj, 'comment_first': comment_first,
                     'post_index': post_index,    }   -->
            <!--  Aqui eu quero deixar o post da lista e o post detalhado  -->
            <div class="blog-post-wrapper-ajax-{{ post_dict.post_index }}">
            <div class="blog-post-wrapper-{{ post_dict.post_index }}">
                <!--  Regular post section  -->
                <div class="blog-post">
                    <div class="blog-post-top">
                        <a href="{% url 'profile' post_dict.post_obj.profile.user.pk %}">
                            <img class="blog-post-top-pfp" src="{{ post_dict.post_obj.profile.pfp.url }}" alt="pfp">
                        </a>
                        <a href="{% url 'profile' post_dict.post_obj.profile.user.pk %}">
                            <h1 class="blog-post-top-username">{{ post_dict.post_obj.profile.user.username }}</h1>
                        </a>
                    </div>
                    <img class="blog-post-content" src="{{ post_dict.post_obj.image.url }}" alt="post content">
                    <div class="blog-post-bottom">
                        <div class="blog-post-bottom-buttons">
                            <!--  Like forms  -->
                            {% if not post_dict.is_liked %}
                            <form class="post-like-form" method="POST" enctype="multipart/form-data"> 
                                {% csrf_token %}
                                <div class="form-hide">
                                    {{ post_dict.like_form }}
                                </div>  
                                <button class="blog-post-like" name="like-post">
                                    <img class="blog-post-like-img" src="{% static 'blog/logos/logo-like.png' %}" alt="like-btn">
                                </button>
                            </form>
                            {% else %}
                            <form class="post-unlike-form" method="POST" enctype="multipart/form-data"> 
                                {% csrf_token %}
                                <div class="form-hide">
                                    {{ post_dict.like_form }}
                                </div>  
                                <button class="blog-post-unlike" name="unlike-post">
                                    <img class="blog-post-like-img" src="{% static 'blog/logos/logo-like-red.png' %}" alt="like-btn">
                                </button>
                            </form>
                            {% endif %}
                            <img class="blog-post-comment" src="{% static 'blog/logos/logo-coment.png' %}" alt="coment-btn">
                        </div>
                        <h1 class="blog-post-bottom-likes">{{ post_dict.like_obj|length }} likes</h1>
                        <div class="blog-post-bottom-desc-comment">
                            
                            <p class="blog-post-bottom-desc-comment-content">
                                <a class="blog-post-bottom-desc-comment-username"
                                   href="{% url 'profile' post_dict.post_obj.profile.user.pk %}">
                                    {{ post_dict.post_obj.profile.user.username }}
                                </a>
                                {{ post_dict.post_obj.desc }}
                            </p>
                        </div>
                        {% if post_dict.comment_first %}
                            <p class="blog-post-bottom-comment-count">See all {{ post_dict.comment_obj|length }} comments</p>
                            <div class="blog-post-bottom-desc-comment">
                                <p class="blog-post-bottom-desc-comment-content"> 
                                    <a class="blog-post-bottom-desc-comment-username"
                                       href="{% url 'profile' post_dict.comment_first.profile.user.pk %}">
                                        {{ post_dict.comment_first.profile.user.username }}
                                    </a>
                                    {{ post_dict.comment_first.comment }}
                                </p>
                            </div>
                        {% endif %}
                        <h1 class="post-bottom-date">{{ post_dict.post_obj.date }}</h1>
                        <!--  comment form  -->
                        <form class="post-bottom-comment-form" method="POST" enctype="multipart/form-data"> 
                            {% csrf_token %}
                            {{ post_dict.comment_form }}
                            <button class="post-bottom-comment-submit">Comment</button>
                        </form>
                    </div>
                </div>
                <!--  Post Details  -->
                <div class="blog-post-detail">

                </div>
                <!--  Post like popup  -->
                <div class="blog-post-like-popup">
                    
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- end Post template wrapper -->
{% endblock content %}



{% block homeside %}
    <div class="blog-homeside">
        <!--  Current profile  -->
        <div class="blog-homeside-current-profile">
            <a href="{% url 'profile' request.user.pk %}">
                <img class="blog-homeside-current-profile-pfp" src="{{ request.user.profile.pfp.url }}" alt="pfp">
            </a>
            <div>
                <a href="{% url 'profile' request.user.pk %}" class="blog-homeside-current-profile-username">{{ request.user.username }}</a>
                <p class="blog-homeside-current-profile-name">{{ request.user.profile.name }}</p>
            </div>
            <a href="{% url 'logout' %}" class="blog-homeside-current-profile-logout">Logout</a>
        </div>
        <p class="blog-homeside-title">Suggestions for you... </p>
        <div class="blog-homeside-suggestions">
            {% for p_f_dict in suggestions_list %}
            <!--  {'profile': profile, 'form': form}  -->
                <div class="blog-homeside-suggestions-profile">
                <div style="display: flex;justify-content: left;align-items: center;">
                    <a href="{% url 'profile' p_f_dict.profile.user.pk %}">
                        <img class="blog-homeside-suggestions-profile-pfp" src="{{ p_f_dict.profile.pfp.url }}" alt="pfp">
                    </a>
                    <div>
                        <a href="{% url 'profile' p_f_dict.profile.user.pk %}" class="blog-homeside-suggestions-profile-username">{{ p_f_dict.profile.user.username }}</a>
                        <p class="blog-homeside-suggestions-profile-name">{{ p_f_dict.profile.name }}</p>
                    </div>
                </div>    
                    <!--  Follow and unfollow forms  -->
                    <form class="blog-homeside-follow-form" method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <div class="form-hide">
                            {{ p_f_dict.form }}
                        </div>  
                        <button class="blog-homeside-suggestions-profile-follow" type="submit">Follow</button>
                    </form>
                    <form class="blog-homeside-unfollow-form" method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <div class="form-hide">
                            {{ p_f_dict.form }}
                        </div>  
                        <button class="blog-homeside-suggestions-profile-unfollow" type="submit">Unfollow</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock homeside %}



{% block form %}
    <div class="home-create-form-background">
        <div class="home-create-form">
            <h1 class="home-create-form-title">Create a post</h1>
            <img class="home-create-form-image" src="{% static 'blog/logos/logo-upload2.png' %}" alt="upload">
            <h1 class="home-create-form-button-fake">Select an image</h1>
            {{ form.image }}
            {{ form.desc }}
            <button class="home-create-form-submit" name="post-post">Post</button>
        </div>
        <p class="home-create-close-button">+</p>
    </div>
    <script>
        const uploadButton = document.querySelector('.header-upload-button')
        uploadButton.addEventListener('click', function(e){
            e.preventDefault() 
            let popUpBackground = document.querySelector('.home-create-form-background')
            popUpBackground.style.display = 'flex'
        })
        const uploadCloseButton = document.querySelector('.home-create-close-button')
        uploadCloseButton.addEventListener('click', function(){
            let popUpBackground = document.querySelector('.home-create-form-background')
            popUpBackground.style.display = 'none'
        })
    </script>
{% endblock form %}



{% block ajax %}
    <script>
        // add follow function on homeside
        $('.blog-homeside-follow-form').each(function(){
            $(this).on('submit', function(e){
                e.preventDefault();
                var serializeData = $(this).serialize();
                $.ajax({
                    type:'POST',
                    url: '{% url "profile-follow" %}',
                    data: serializeData,
                    context: $(this),
                    success: function(response){
                        let followForm = $(this)
                        let unfollowForm = $(this).parent().find('.blog-homeside-unfollow-form')
                        followForm.css({ display: "none" })
                        unfollowForm.css({ display: "block" })
                    },
                    error: function(response){
                        console.log('ERROR')
                    }
                });
            })
        })
        // add unfollow function on homeside
        $('.blog-homeside-unfollow-form').each(function(){
            $(this).on('submit', function(e){
                e.preventDefault();
                var serializeData = $(this).serialize();
                $.ajax({
                    type:'POST',
                    url: '{% url "profile-unfollow" %}',
                    data: serializeData,
                    context: $(this),
                    success: function(response){
                        let followForm = $(this).parent().find('.blog-homeside-follow-form')
                        let unfollowForm = $(this)
                        followForm.css({ display: "block" })
                        unfollowForm.css({ display: "none" })
                    },
                    error: function(response){
                        console.log('ERROR')
                    }
                });
            })
        })
    </script>
    <script>
        // Creates like and unlike functions, referencing each other
        var funcLike = function(thisx){
            thisx.on('submit', function(e){
                e.preventDefault();
                var serializeData = thisx.serialize();
                $.ajax({
                    type:'POST',
                    url: '{% url "post-like" %}',
                    data: serializeData,
                    context: thisx,
                    success: function(response){
                        let wrapperAjaxDOM = $(this).parents().eq(4)
                        let wrapperAjax = '.' + $(this).parents().eq(4).attr('class')
                        let wrapper = '.' + $(this).parents().eq(3).attr('class')
                        $(wrapperAjax).load("{% url 'home' %}" + ' ' + wrapper, function(){
                            funcUnlike(wrapperAjaxDOM.find('.post-unlike-form'))
                        })
                    },
                    error: function(response){
                        console.log('ERROR')
                    }
                });
            })
        }
        var funcUnlike = function(thisy){
            thisy.on('submit', function(e){
                e.preventDefault();
                var serializeData = thisy.serialize();
                $.ajax({
                    type:'POST',
                    url: '{% url "post-unlike" %}',
                    data: serializeData,
                    context: thisy,
                    success: function(response){
                        let wrapperAjaxDOM = $(this).parents().eq(4)
                        let wrapperAjax = '.' + $(this).parents().eq(4).attr('class')
                        let wrapper = '.' + $(this).parents().eq(3).attr('class')
                        $(wrapperAjax).load("{% url 'home' %}" + ' ' + wrapper, function(){
                            funcLike(wrapperAjaxDOM.find('.post-like-form'))
                        })
                    },
                    error: function(response){
                        console.log('ERROR')
                    }
                });
            })
        }
        // Adds like and unlike functions initially
        $('.post-like-form').each(function(){
            funcLike($(this))
        })
        $('.post-unlike-form').each(function(){
            funcUnlike($(this))
        })
        // Creates comment function
        var funcComment = function(thisz){
            thisz.on('submit', function(e){
                e.preventDefault();
                var serializeData = thisz.serialize();
                $.ajax({
                    type:'POST',
                    url: '{% url "post-comment" %}',
                    data: serializeData,
                    context: thisz,
                    success: function(response){
                        let wrapperAjaxDOM = $(this).parents().eq(3)
                        let wrapperAjax = '.' + $(this).parents().eq(3).attr('class')
                        let wrapper = '.' + $(this).parents().eq(2).attr('class')
                        $(wrapperAjax).load("{% url 'home' %}" + ' ' + wrapper, function(){
                            funcUnlike(wrapperAjaxDOM.find('.post-bottom-comment-form'))
                        })
                    },
                    error: function(response){
                        console.log(response)
                    }
                });
            })
        }
        // Adds comment function
        $('.post-bottom-comment-form').each(function(){
            funcComment($(this))
        })
    </script>
{% endblock ajax %}