<script>
    $('.blog-header-search-popup-top-close').on('click', function(){
        $('.blog-header-search-popup').css('display', 'none')
        $('.blog-header-searchbar').val('')
    })
    $.getJSON('{% url "profile-query" %}', function(data){
        var profilesList = []
        for(let i = 0; i < data.length; i++){
            let username = data[i].username
            profilesList.push(username)
        }
        $('.blog-header-searchbar').keyup(function(){
            var elegibleProfiles = []
            let inputVal = $('.blog-header-searchbar').val()
            // close popup if input == ''
            if(inputVal == ''){
                $('.blog-header-search-popup').css('display', 'none')
            }else{
                $('.blog-header-search-popup').css('display', 'block')
            }
            // check val is in usernames
            for(let i = 0; i < profilesList.length; i++){
                if(profilesList[i].includes(inputVal)){
                    elegibleProfiles.push(profilesList[i])
                }
            }
            // add elegible profiles to the popup
            for(let i = 0; i < elegibleProfiles.length; i++){
                let profileWrapper = document.createElement('div')
                profileWrapper.classList = "blog-header-search-popup-profile"
                let pfp = document.createElement('img')
                pfp.classList = 'blog-header-search-popup-profile-pfp'
                let username = document.createElement('h1')
                username.classList = 'blog-header-search-popup-profile-username'
            }
        })
    })
</script>