body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.direct-wrapper{
    border: solid 1px #dbdbdb;
    margin-top: 80px;
    display: flex;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 5px;
}
.direct-chat{
    height: 510px;
    width: 500px;
}
.direct-chat-title{
    height: 60px;
    max-width: 500px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.direct-chat-title-pfp{
    height: 24px;
    width: 24px;
    object-fit: cover;
    border-radius: 50%;
}
.direct-chat-title-username{
    font-size: 14px;
    color: #262626;
    font-weight: bold;
    margin-left: 15px;
}

.direct-chat-messages{
    width: inherit;
    display: flex;
    flex-direction: column-reverse;
    height: 390px;
    overflow-y: scroll;
}
.recieved-wrapper{
    display: flex;
    justify-content: left;
    margin-left: 15px;
    margin-bottom: 5px;
}
.recieved{
    border: 1px solid #dbdbdb;
    width: fit-content;
    max-width: 250px;
    border-radius: 15px;
    font-size: 14px;
    padding: 10px;
    word-wrap: break-word;
}
.sent-wrapper{
    display: flex;
    justify-content: right;
    margin-right: 15px;
    margin-bottom: 5px;
}
.sent{
    background-color: #efefef;
    width: fit-content;
    max-width: 250px;
    border-radius: 15px;
    font-size: 14px;
    padding: 10px;
    word-wrap: break-word;
}

.direct-chat-input{
    background-color: green;
    height: 60px;
    width: inherit;
}




.direct-profiles{
    width: 350px;
    border-right: solid 1px #dbdbdb;
}
.direct-profiles-title{
    height: 60px;
    border-bottom: solid 1px #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-user{
    color: #262626;
    font-size: 16px;
    font-weight: bold;
}
.direct-profiles-friends{
    height: 450px;
    overflow-y: scroll;
}
.direct-profile{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 10px;
    width: inherit;
}
.highlight{
    background-color: rgb(0, 0, 0, 0.04);
}
.direct-profile:hover{
    background-color: rgb(0, 0, 0, 0.05);
    cursor: pointer;
}
.direct-profile-pfp{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.direct-profile-usernme{
    color: #262626;
    font-size: 14px;
    font-weight: bold;
}


