body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.direct-wrapper{
    border: solid 1px #dbdbdb;
    margin-top: 80px;
    display: flex;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 5px;
}
.direct-chat{
    height: 510px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.direct-chat-welcome-img{
    margin-bottom: 15px;
}
.direct-chat-welcome-title{
    color: #262626;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.direct-chat-welcome-p{
    color: #8e8e8e;
    font-size: 14px;
}


.direct-profiles{
    width: 350px;
    border-right: solid 1px #dbdbdb;
}
.direct-profiles-title{
    height: 60px;
    border-bottom: solid 1px #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-user{
    color: #262626;
    font-size: 16px;
    font-weight: bold;
}
.direct-profiles-friends{
    height: 450px;
    overflow-y: scroll;
}
.direct-profile{
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 5px;
    padding-left: 10px;
    width: inherit;
}
.direct-profile:hover{
    background-color: rgb(0, 0, 0, 0.05);
    cursor: pointer;
}
.direct-profile-pfp{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.direct-profile-usernme{
    color: #262626;
    font-size: 14px;
    font-weight: bold;
}
