{% extends 'blog/blog_header_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/users_profile_update.css' %}">
{% endblock css %}


{% block content %}
    <div class="users-profile-update-wrapper">
        <form class="users-profile-update-form" method="post" enctype="multipart/form-data">
            <div style="display: flex; align-items: center;">
                <img class="users-profile-update-image" src="{{ profile.pfp.url }}" alt="pfp">
                <div>
                    <h1 class="users-profile-update-name">{{ profile.user.username }}</h1>
                    <h1 class="users-profile-update-input">Alter profile picture</h1>
                </div>
            </div>
            {% csrf_token %}
            <div class="users-profile-update-form-pfp">
                {{ form.pfp }}
            </div>
            <div class="users-profile-update-form-name">
                {{ form.name.label }}
                {{ form.name }}
            </div>
            <div class="users-profile-update-form-bio">
                {{ form.bio.label }}
                {{ form.bio }}
            </div>
            <button class="users-profile-update-form-button" type="submit">Update</button>
        </form>
    </div>
{% endblock content %}