/* Profile */
.users-profile-header{
    margin-top: 70px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    padding-bottom: 30px;
    border-bottom: #dbdbdb 1px solid;
}
.users-profile-header-pfp{
    width: 150px;
    border-radius: 50%;
    object-fit: contain;
} 
.users-profile-header-info{
    margin-left: 110px;
}
.users-profile-header-info-username-wrapper{
    display: flex;
    align-items: center;
}
.users-profile-header-info-username{
    color: #262626;
    font-size: 28px;
    margin-right: 20px;
}
.users-profile-header-info-edit{    
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    width: 95px;
    height: 30px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}.users-profile-header-info-follow{
    width: 92px;
    height: 30px;
    border-radius: 3px;
    background-color: #0095f6;
    box-sizing: border-box;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}.users-profile-header-info-follow:hover{
    cursor: pointer;
}
.users-profile-header-info-unfollow{
    width: 92px;
    height: 30px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: #262626;
    font-weight: bold;
    font-size: 14px;
}.users-profile-header-info-unfollow:hover{
    cursor: pointer;
}
.users-profile-header-info-numbers{
    display: flex;
    margin-top: 20px;
}.users-profile-header-info-numbers *{
    margin-right: 25px;
    color: #262626;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
}.users-profile-header-info-numbers * p{
    font-weight: bold;
    width: fit-content;
    margin-right: 10px;
}
.publi-number:hover, .follower-number:hover, .followed-number:hover{
    cursor: pointer;
}
.users-profile-header-info-name{
    color: #262626;
    font-size: 16px;
    font-weight: bold;
}
.users-profile-header-info-bio{
    margin-top: 5px;
    color: #262626;
    font-size: 14px;
}

.users-profile-header-form-hide{
    display: none;
}
/* Posts */
.users-profile-posts{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 257px 257px 257px;
    gap: 17px;
    margin-bottom: 50px;
}
.profile-post-image{
    width: 257px;
    height: 257px;
    object-fit: cover;
}.profile-post-image:hover{
    cursor: pointer;
}
.profile-post-hover{
    width: 257px;
    height: 257px;
    position: relative;
    background-color: rgb(0, 0, 0, 0);
    bottom: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -257px;
}
.hover-content{
    display: none;
}
.profile-post-hover:hover{
    background-color: rgb(0, 0, 0, 0.5);
}
.profile-post-hover:hover .hover-content{
    display: flex;
}
.profile-post-logo{
    height: 20px;
    object-fit: contain;
}
.profile-post-text{
    color: white;
    font-size: 20px;
    font-weight: 20px;
    font-family: sans-serif;
    margin-right: 3px;
}
.space{
    width: 20px;
}